$color-black: #000000;
$color-white: #ffffff;
$text-black: #24292e;
$border-green-p: #28a745;
$border-err-red-p: #cb2431;
$border-err-red-s: #f97583;
$background-err-red: #ffeef0;
$blue-focus: rgba(3, 101, 214, 0.5);

// -- delete later
$title: 4em;
$heading: 4em;
$sub-heading: 2em;
