@import "bgGradient";
.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  min-height: 730px;
  @include for-mobile {
    padding: 10px;
  }
}

.hero-container {
  margin: 30px 0;
  @include for-mobile {
    margin-left: 10px;
  }
  h1 {
    font-size: 8rem;
    font-weight: bold;
    @include for-mobile {
      font-weight: normal;
    }
  }
}
.chart-container {
  margin: 10px 0;
  max-width: 500px;
  width: 100%;
}
.meta-container {
  display: flex;
  margin: 20px;
  @include for-mobile {
    margin-left: 10px;
  }
  ul {
    li {
      list-style-type: none;
      font-size: 1.4rem;
      line-height: normal;
      letter-spacing: 1px;
    }
    &.meta-value {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}
.icon-container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 30%;
  height: 30%;
  .weather-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 100%;
  }
}
.summery-container {
  @include for-desktop {
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30%;
  }
  position: initial;
  margin-left: 10px;

  h2 {
    opacity: 0.2;
    line-height: 1;
    font-size: 3rem;
    @include for-desktop {
      font-size: 10vw;
      text-align: right;
    }
  }
}
