@import "bgGradient";
.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  min-height: 730px;
  @include for-mobile {
    padding: 10px;
    padding-left: 20px;
  }
}
@include for-mobile {
  .search-container {
    margin-left: -10px;
  }
}
.hero-container {
  margin: 30px 0;
  h1 {
    font-size: 8rem;
    font-weight: bold;
    @include for-mobile {
      font-weight: normal;
    }
  }
}
.chart-container {
  margin: 10px 0;
  max-width: 500px;
  width: 100%;
  .recharts-wrapper {
    cursor: pointer !important;
  }
  @include for-mobile {
    margin-left: -10px;
  }
}
.meta-container {
  display: flex;
  ul {
    li {
      list-style-type: none;
      font-size: 1.4rem;
      line-height: normal;
      letter-spacing: 1px;
    }
    &.meta-value {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}
.icon-container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 30%;
  height: 300px;
  @include for-mobile {
    right: 30px;
  }
  .weather-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 100%;
  }
}
.hour-summery-container {
  text-transform: capitalize;
  font-size: 1.5rem;
  max-width: 500px;
}
.summery-container {
  text-transform: capitalize;
  display: none;
  @include for-desktop {
    display: block;
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30%;
  }
  h2 {
    opacity: 0.2;
    line-height: 1;
    font-size: 10vw;
  }
}
