@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  animation: fadeIn 0.5s ease-in;
  color: $text-black;
}
button {
  background-color: $color-white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $blue-focus;
  }
}
.main {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::selection {
  color: #dbd187;
  background-color: #2f8672;
}
@import "loading";
@import "switch";
@import "media";
@import "search";
@import "weather";
@import "fonts";
